!!! 5
head
  title #{title}
  link(rel='stylesheet', href=base_url + '/css/bootstrap.css', type='text/css')
  link(rel='stylesheet', href=base_url + '/css/main.css', type='text/css')
  link(rel='alternate', type='application/rss+xml', title=title, href=base_url + '/rss.xml')
  link(rel="shortcut icon", href="/img/favicon.png", type="image/x-icon")
body
  div.row-fluid
    div.span12.title.center
      h1 #{title}
  div.row-fluid
    div.container-fluid
      div.offset1.span1
        ul
          li
            img(src='http://www.gravatar.com/avatar/a45bb5be65f2d59d813697825cb48194')
          li
            a(href='http://twitter.com/wlaurance', target='__blank') @wlaurance
          li
            a(href='/resume.pdf', target='__blank') resume
          li
            a(href='/2012/09/portfolio') portfolio
          li
            a(href='https://github.com/wlaurance', target='__blank')
              img(src="http://octodex.github.com/images/homercat.png", height=50, width=50)
          li
            a(href='/2012/10/consulting') consulting
          li
            a(href="http://wlaurance.github.com/talks/", target="__blank") talks
          li
            a(href="mailto:w.laurance@gmail.com", target="__blank") contact
      div.span8
        - each article in articles
          - if ((typeof article.show_on_home_page === 'undefined') || article.show_on_home_page === true || (typeof single !== 'undefined' && single))
            div.article
              div.header
                div.title
                  <a href='!{base_url}/!{article.url}/'>!{article.title}</a>
                div.date
                  -if (show_author)
                    !{article.author} - 
                  !{article.date_str}
              div.body !{article.body}

              - if (typeof single !== 'undefined' && single && disqus_id !== -1)
                script(type='text/javascript)
                  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                  var disqus_shortname = '!{disqus_id}'; // required: replace example with your forum shortname

                  /* * * DON'T EDIT BELOW THIS LINE * * */
                  (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();

                div#disqus_thread

  // Please do not remove
  div.row-fluid
    div.offset6
      - if ((typeof single === 'undefined' || !single) && page_num !== -1)
        <a href='!{base_url}/page/#{page_num + 1}'>Next Page</a>
  div.row-fluid
    div.offset6
      a(href='http://github.com/guyht/glog') Powered by Glog

      - if (typeof analytics_code !== 'undefined' && analytics_code !== null)
        script(type='text/javascript')
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '!{analytics_code}']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
